@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: #023047;
}

.montserrat {
  font-family: 'Montserrat';
}

.arimo {
  font-family: 'Arimo';
}

.badge-position {
  top: 138px;
  right: 228px;
}

.color-blue {
  color: #023047;
}
.color-yellow {
  color: #ffb703;
}
.color-orange {
  color: #fb8500;
}
.color-blue {
  color: #219ebc;
}
.color-light-blue {
  color: #8ecae6;
}
.color-brown {
  color: #a85b03;
}

.front-photo {
  background-image: 'frontend/src/assets/front-photo.jpg';
}